<% include partials/header %>

<body class="about">
     
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse align-self-flex-end flex" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex">
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/"  style="color:  rgba(0, 50, 100, 0.7); font-size: 16px;" >Home</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link active" href="/about"  style="color:  rgba(0, 50, 100, 0.7); font-size: 16px;" >About</a>
                </li>
                 <a class="navbar-brand" href="#"><img style="opacity: 0.5; border-radius: 4px; height: 80px; width: 80px" src="stylesheets/Logo Evija small.jpg"></a>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/mywork"  style="color: rgba(0, 50, 100, 0.7);  font-size: 16px;">My Work</a>
                </li>
                 
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/contact" style="color:rgba(0, 50, 100, 0.7); font-size: 16px;">Contacts</a>
                </li>
            </ul>
        </div>
        </nav>

      <div class="container-fluid">
        <div class="aboutus">
            
            <main class="number1">
                <section class="itemabout">
                 <p><span id="name">< EVIJA: Front-End Web Developer ></span><br>As she started her journey in the world of technology, she slowly fell in love with coding. She is thrilled by technologies that are out there and what you can do and create with them! Her learning path still continues in this deep waters of web development, but her love for coding is only increasing!
                    She is curious, self – initiative, patient, willing to learn, a persistent young woman who is so
                    excited to enter freelancer world. Every day she is improving her knowledge about Front – End 
                    technologies, and not just that, she also shows a big interest in the Web design world. Even though
                    her focus is towards layout, style, and interaction with the visitors, she also likes to think about
                    practicality and technical part of the website. Challenges make her work more intriguing!
                    She is looking forward to work together with you,
                    Feel free to contact her:
                    <br><a href="www.linkedin.com/in/evija-bumeistere" target="_blank"><img src="stylesheets/linkedin1.png" 
                    style="width:auto; margin-top: 10px;height: 40px; border-radius: 5%; padding-bottom: 15px;"></a>
                    <a href="https://www.freecodecamp.org/evijabum" target="_blank"><img src="stylesheets/freecodecamp.png"
                    style="width:auto; height: 40px; border-radius: 5%; margin-top: 10px; padding-bottom: 15px;"></a>
                </p>    
                </section>
               
                <section id="img">
                    <img class="photo" src="stylesheets/evijakopija.jpg">
                </section>
            </main>
 
        <section class="education">
            <!--EDUCATION -->
            <div class="item3about">
                <!-- TABLE -->
                    <div class="table">
                        <h2 id="ed">Education</h2>
                          <section id="title_row">
                            <p>Learning Place</p>
                            <p>Course Name</p>
                            <p>Date</p>
                          </section>
                          
                          <section id="course_2019">
                            <p class="school" data-th="Learning Place">Udemy</p>
                            <p data-th="Course Name">The Advanced Web Developer Bootcamp</p>
                            <p data-th="Year">2019 - 2020</p>
                          </section>
                          
                          <section id="front_end_libraries">
                           <p class="school" data-th="Learning     Place">Free code camp</p>
                            <p data-th="Course Name">Front End Libraries </p>
                            <p data-th="Year">2019 - 2019</p>
                          </section>
                          
                          <section id="the_web_developer_bootcamp">
                            <p class="school" data-th="Learning Place">Udemy</p>
                            <p data-th="Course Name">The Web Developer Bootcamp</p>
                            <p data-th="Year">2017 - 2018</p>
                          </section>
                        
                          <section id="responsive_web_design">
                            <p class="school" data-th="Learning Place">Free code camp</p>
                            <p data-th="Course Name">Responsive Web Design</p>
                            <p data-th="Year">2017 - 2018</p>
                        </section>
                    </div> <!-- END OF CONTAINER TABLE -->
             </div><!-- item3 about -->
             
            <section id="certification">
                <h2>Certification</h2>
                
                <div id="certificate">
                    <a href="https://www.freecodecamp.org/certification/evijabum/responsive-web-design" target="_blank"><img src="stylesheets/certification/responsivewebdesign.png"></a>
                    <a href="https://www.udemy.com/certificate/UC-H7CUN0ZT/" target="_blank"><img src="stylesheets/certification/udemywebdevelopment.jpg"></a>
                </div>
            </section>
            

            
            
            <article class="pngimages">
                    <div id="web_development">
                        <h2 class="tech">Technologies I use: </h2>
             
                    <div id="frontend">
                        <img class="small" src="stylesheets/educationpng/html.png">
                        <img class="small" src="stylesheets/educationpng/css.png">
                        <img class="small" src="stylesheets/educationpng/bootsrap.png">
                         <img class="small" src="stylesheets/educationpng/js.png">
                        <img class="small"src="stylesheets/educationpng/jquery.png">
                       
                    </div>
                    <div id="backend">
                        <img class="small" src="stylesheets/educationpng/git.png">
                        <img class="small" src="stylesheets/educationpng/authentication.png">
                        <img class="small" src="stylesheets/educationpng/react.png">
                        <img class="small" src="stylesheets/educationpng/nodejs.png">
                        <img class="small" src="stylesheets/educationpng/mongodb.png">

                        <img id="wix" src="stylesheets/educationpng/wix.png">
                    </div>
                  
                  <!-- Write about different approaches 1. Coding 2.Website Editor -->            
            <!--<section>-->
            <!--    <h2></h2>-->
            <!--</section>       -->
            
                    <!--<div id="cms">-->
                    <!--  <h2 class="tech">Why to use website editor?</h2>-->
                    <!--  <p>-->
                    <!--  - Be your own administrator : add or delete content by yourself<br>-->
                    <!--  - If you have limited budget<br>-->
                    <!--  - User friendly dashboard <br>-->
                    <!--  - Have 24h Costumer service<br>-->
                      
                    <!--.<br><a href="https://www.wix.com/website/templates">Go to WIX</a></p>-->
                      
                
                      
                    <!--</div>-->
                    
             </article> <!-- END of PNG photos -->
             
     </div><!-- End of container About us -->
</section>
    
      
 
        




<% include partials/footer %>