<% include partials/header %>

        
<body class="landing">
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse align-self-flex-end flex" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex ">
                <li class="nav-item flex-fill">
                    <a class="nav-link active" href="/"  style="color:  rgba(0, 50, 100, 0.7); font-size: 16px;" >Home</a>
                </li>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/about"  style="color:  rgba(0, 50, 100, 0.7); font-size: 16px;" >About</a>
                </li>
                 <a class="navbar-brand" href="#"><img style="opacity: 0.5; border-radius: 4px; height: 80px; width: 80px" src="stylesheets/Logo Evija small.jpg"></a>
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/mywork"  style="color: rgba(0, 50, 100, 0.7);  font-size: 16px;">My Work</a>
                </li>
                 
                <li class="nav-item flex-fill">
                    <a class="nav-link" href="/contact" style="color:rgba(0, 50, 100, 0.7); font-size: 16px;">Contacts</a>
                </li>
            </ul>
        </div>
        </nav>

    
<div class="container">
  <div class="number0">
      <div id="boxback">
            <!-- Companies name section -->
         <div class="box1">
            <h1 class="item0">Evija: <br>Creates & Designs for  You</h1>
         </div>

        <!-- Brush/Code/Design section -->
        <div class="box2">
            <div id="fadein"> 
            
            <div class="item3">
                 <p class="service">Responsive Layout</p>
                   <hr>
                <div class="tablet">
                    <i class="fa fa-3x fa-tablet-alt"></i>
                </div>
            </div>
            <div class="item1">
                  <p class="service">Beautiful design</p>
                  <hr>
                <div class="brush">
                    <i class="fa fa-3x fa-paint-brush"></i>
                </div>
            </div>
            <div class="item2">
                <p class="service">Clean Code</p>
                <hr>
                <div class="code">
                    <i class="fa fa-3x fa-code"></i>
                </div>
            </div> 
            
            
        </div>
           
        </div> <!-- End of  Brush/Code/Design section -->
      </div>
      
</div> <!-- End of container number0 -->

